---
layout: default
title: Lectito
---

<body>
<div id="home">

	<div class="list">
	<h1>Read(ing)</h1>
		{% for reading in site.data.readings %}
		{% if reading.start == "" %}
		{% else %}
		   <div style="padding-bottom: 0px;">
		   		{% if reading.finish %}
						<span style="color:green;" title="{{ reading.start | date: "%-d %B" }} to {{ reading.finish | date: "%-d %B %Y" }}">
				   			<i class="fa fa-check-circle-o"></i>
				   		</span>
				   	{% else %}
				   		<span style="color:grey;" title="Started on {{ reading.start | date: "%-d %B %Y" }}">
				   			<i class="fa fa-circle-thin"></i>
				   		</span>
				{% endif %}
			   	{{ reading.author }}, 
			   	{% if reading.notes == "" %}
			   		{{ reading.title }}
			   	{% else %}
			   		<span style="text-decoration:underline;" title="{{ reading.notes }}">{{ reading.title }}</span>
			   	{% endif %}
		   	</div>
		{% endif %}
		{% endfor %}
	</div>
	
	<hr>

	<div class="list">
		<h1>To read</h1>
		{% for reading in site.data.readings %}
		{% if reading.start == "" %}
		   <div style="padding-bottom: 0px;">
		   		<span style="color:grey;" title="Added on {{ reading.date | date: "%-d %B %Y" }}">
					<i class="fa fa-clock-o"></i>
				</span>
			   	{{ reading.author }}, 
			   	{% if reading.notes == "" %}
			   		{{ reading.title }}
			   	{% else %}
			   		<span style="color:blue;" title="{{ reading.notes }}">{{ reading.title }}</span>
			   	{% endif %}
		   	</div>
		{% else %}
		{% endif %}
		{% endfor %}
	</div>

</div>

	<h1 class="title">
		<a href="http://github.com/msteenhagen/lectito"><i class="fa fa-github"></i></a>
	</h1>

</body>