<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="{{ site.description }}">
      <meta name="author" content="{{ site.author }}">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
      <link rel="stylesheet" href="{{ site.url }}/css/main.css">
      <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
      <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon">
      <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
      <link rel="alternate" type="application/atom+xml" href="/atom.xml">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <title>{{ page.title }}</title>
   </head>
   
   <body>
      <main>
         <header class="book">
            <h1 class="title">
            
            <i class="fa fa-book fa-5x"></i></br>
            <a href="/" style="text-transform: lowercase;font-variant: small-caps;font-size: 40px">{{ site.name }}</a>
            </h1>
            <p style="display:block; text-align: center;text-transform: lowercase;font-variant: small-caps;font-size: 20px">{{ site.description }}
            </p>
         </header>

<hr>
         {{ content }}
      </main>
   </body>
</html>
